/***HOME***/

.home {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container-home {
    width: 100%;
    max-width: 143.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.1rem 8%;
}

.info-area{
    max-width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h3 {
    margin-left: .3rem;
    font-weight: 400;
    font-size: 2rem;
}

.info h1 {
    font-weight: 600;
    margin-left: -1px;
    font-size: 3rem;
}

.info span {
    font-size: 1.1rem;
    color: var(--main-color);
    margin-bottom: .5rem;

    width: 14.4rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--main-color);
    animation: typing 2s steps(35), blink .5s step-end infinite alternate;
}

.info p {
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
}

.socials {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.socials a:hover {
    animation: jello 2s ease 0s 1 normal forwards;
    color: var(--main-color)!important;
}

.socials svg:hover {
    color: var(--main-color)!important;
}

.bg-home {
    max-width: 29.3rem;
    overflow: hidden;
}

.bg-home img {
    width: 100%;
    object-fit: cover;
}

/***ABOUT***/

.about {
    background-color: var(--bg-color-500);
    color: var(--text-color);
    padding: 2rem 0 3rem 0;
}

.title {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.title > span {
    color: #a6fb98;
}

.photo {
    max-width: 25.5rem;
    height: 25.5rem;
    overflow: hidden;
    border: 2px solid rgb(26, 25, 25);
    border-radius: 50%;
    position: relative;
}

.photo img {
    width: 100%;
    position: relative;
    top: -27px;
    object-fit: cover;
}

.about-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
}

.about-info {
    width: 100%;
    max-width: 550px;
}

.about-info p {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify
}

.span{
    color: #a6fb98;
}

.btn-download {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background: -webkit-linear-gradient(to left, #6dee59, #78e3d1);
    background: -o-linear-gradient(to left, #6dee59 #78e3d1);
    background: -moz-linear-gradient(to left, #6dee59, #78e3d1);
    background: linear-gradient(to left, #6dee59, #78e3d1);
    color: #FFF;
    height: 45px;
    padding: 10px 15px;
    border: none;
    border-radius: .2rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
}

.btn-download svg {
    margin-right: .5rem;
}

/***SKILLS***/

.skills {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2rem 0 3rem 0;
}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 20%;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 24px;
    background-color: #121212;
    border: 2px solid #292828;
    border-radius: .2rem;
    transition: all .2s;
    cursor: pointer;
}

.card span {
    color: var(--main-color-500);
    font-weight: 600;
    margin: .9rem 0;
}

.card p {
    font-weight: 300;
}

.card:hover {
    border: 2px solid var(--main-color-500);
}

/***PROJECTS***/

.projects {
    background-color: var(--bg-color-500);
    color: var(--text-color);
    padding: 2rem 0 3rem 0;
}

.portfolio-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
}

.project {
    width: 100%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: .2rem;
}

.project img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
    transition: transform .3s ease;
}

.project:hover img {
    transform: scale(1.1);
}

/***FOOTER***/

footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-top: 1px solid rgb(26, 25, 25);
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div span {
    margin: 0 .3rem;
    font-weight: 200;
}

/***MEDIA QUERIES***/

@media (max-width: 1024px) {

    .container-home {
        flex-direction: column;
    }

    .info-area {
        justify-content: center;
    }

    .info {
        align-items: center;
    }

    .info h3 {
        margin-left: 0;
    }

    .socials {
        justify-content: center;
        margin-bottom: 3rem;
    }

    .about-area {
        width: 100%;
        margin-top: 1.5rem;
        align-items: center;
    }

    .photo {
        max-width: 20rem;
        height: 20rem;
    }

    .about-info {
        width: 100%;
        max-width: 700px;
    }

    .about-info p{
        text-align: justify;
    }

    .card {
        width: 40%;
        min-height: 230px;
    }

    .portfolio-area {
        justify-content: center;
    }
}

@media (max-width: 780px) {
    .card {
        width: 80%;
        min-height: 230px;
    }

    footer div:first-child {
        padding-top: 2rem;
    }

    footer div:last-child {
        padding: 1rem 0;
    }
}

/*** ANIMATIONS ***/

@keyframes jello {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}