@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
}

button {
  border: none;
}

:root {
  --main-color: #facc15;
  --main-color-500: #f3d353;
  --bg-color: #040405;
  --bg-color-500: #09090b;
  --text-color: azure;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141418;
  border-radius: .2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2828;
  border-radius: .2rem;
}